<div class="page-header">
      <h1 id="validator">Declaración Jurada de Origen <small>Perfil del Producto</small></h1>
    </div>

    <h2 id="validator-examples">Datos Generales de la Empresa</h2>
    <p>P-1</p>
    
    <div class="well">

	<div class="row">
      <form data-toggle="validator" role="form">

        <div class="form-group col-md-6">
          <label class="control-label" for="remoteValidator">Nombre o Razón Social</label>
          <input type="text" placeholder="Ingrese denominación" name="empresa_nombre" id="remoteValidator" class="form-control" data-remote="/validate">
           <div class="help-block with-errors">Verifique el nombre detenidamente</div>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="remoteValidator">Número de RIF</label>
          <input type="text" placeholder="Ingrese RIF" name="empresa_rif" id="remoteValidator" class="form-control" data-remote="/validate">
           <div class="help-block with-errors">Verifique los guiones</div>
        </div>

	</div>
	<div class="row">
      <form data-toggle="validator" role="form">
        <div class="form-group col-md-9">
          <label class="control-label" for="remoteValidator">Dirección Administrativa</label>
          <input type="textarea" placeholder="Ingrese dirección" name="empresa_direccionadmin" id="remoteValidator" class="form-control" data-remote="/validate">
           <div class="help-block with-errors">Verifique la dirección administrativa</div>
        </div>
        <div class="form-group col-md-3">
          <label class="control-label" for="remoteValidator">Código Postal</label>
          <input type="text" placeholder="Ingrese Código Postal" name="empresa_zipcodeadmin" id="remoteValidator" class="form-control" data-remote="/validate">
           <div class="help-block with-errors">Verifique el código</div>
        </div>
	</div>
	
	
	<div class="row">
      <form data-toggle="validator" role="form">
        <div class="form-group col-md-3">
          <label class="control-label" for="remoteValidator">Código de Área</label>
          <input type="number" placeholder="Ingrese dirección" name="empresa_areaadmin" id="remoteValidator" class="form-control" data-remote="/validate">
           <div class="help-block with-errors">Verifique el código</div>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="remoteValidator">Teléfonos</label>
          <input type="nimber" placeholder="Ingrese Números de Teléfono" name="empresa_telfsadmin" id="remoteValidator" class="form-control" data-remote="/validate">
           <div class="help-block with-errors">Verifique los números ingresados</div>
        </div>
        <div class="form-group col-md-3">
          <label class="control-label" for="remoteValidator">Fax</label>
          <input type="number" placeholder="Ingrese número de fax" name="empresa_faxadmin" id="remoteValidator" class="form-control" data-remote="/validate">
           <div class="help-block with-errors">Verifique el número</div>
        </div>
	</div>

	<div class="row">
      <form data-toggle="validator" role="form">
        <div class="form-group col-md-6">
          <label class="control-label" for="remoteValidator">Página Web</label>
          <input type="text" placeholder="Ingrese p{agina web" name="empresa_website" id="remoteValidator" class="form-control" data-remote="/validate">
           <div class="help-block with-errors">Verifique el código</div>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="remoteValidator">Email</label>
          <input type="text" placeholder="Ingrese Correo Electrónico" name="empresa_email" id="remoteValidator" class="form-control" data-remote="/validate">
           <div class="help-block with-errors">Verifique los números ingresados</div>
        </div>
      
        
	</div>
	<div class="row">
      <form data-toggle="validator" role="form">
        <div class="form-group col-md-9">
          <label class="control-label" for="remoteValidator">Dirección Planta</label>
          <input type="textarea" placeholder="Ingrese dirección" name="empresa_direccionplanta" id="remoteValidator" class="form-control" data-remote="/validate">
           <div class="help-block with-errors">Verifique la dirección de planta</div>
        </div>
        <div class="form-group col-md-3">
          <label class="control-label" for="remoteValidator">Código Postal</label>
          <input type="text" placeholder="Ingrese Código Postal" name="empresa_zipcodeplanta" id="remoteValidator" class="form-control" data-remote="/validate">
           <div class="help-block with-errors">Verifique el código</div>
        </div>
	</div>
	<div class="row">
      <form data-toggle="validator" role="form">
        <div class="form-group col-md-3">
          <label class="control-label" for="remoteValidator">Código de Área</label>
          <input type="number" placeholder="Ingrese dirección" name="empresa_areaplanta" id="remoteValidator" class="form-control" data-remote="/validate">
           <div class="help-block with-errors">Verifique el código</div>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="remoteValidator">Teléfonos</label>
          <input type="nimber" placeholder="Ingrese Números de Teléfono" name="empresa_telfsplanta" id="remoteValidator" class="form-control" data-remote="/validate">
           <div class="help-block with-errors">Verifique los números ingresados</div>
        </div>
        <div class="form-group col-md-3">
          <label class="control-label" for="remoteValidator">Fax</label>
          <input type="number" placeholder="Ingrese número de fax" name="empresa_faxplanta" id="remoteValidator" class="form-control" data-remote="/validate">
           <div class="help-block with-errors">Verifique el número</div>
        </div>
        
	</div>
	
	

  <div class="row">
  
      <div class="form-group col-md-10">
		</div>	
      <div class="form-group col-md-2">
          <button type="submit" class="btn btn-primary">Siguiente</button>
        </div>
      </form>
    </div>
    
    
 <script>
    $("button").click(function(){
			$("div.bs-docs-section").empty();
			$("div.bs-docs-section").load("2.html");
			
			
			
		 });
</script>
