<!-- BEGIN : HIGHCHARTS 
BAR vert AND LINE id="chart_1"
BAR vert AND GLOBE id="chart_1"
LINE AND AREA id="chart_3"
BAR hor AND LINE id="chart_4"
PIE id="chart_6"
STOCK id="chart_12"

-->
                    
                       
                        <div class="row">
                        <div class="col-md-3">
                            <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-bar-chart font-green-haze"></i>
                                                <span class="caption-subject bold uppercase font-green-haze"> Income</span>
                                                <span class="caption-helper">income</span>
                                            </div>
                                            <div class="tools">
                                                <a href="javascript:;" class="collapse"> </a>
                                                <a href="javascript:;" class="fullscreen"> </a>
                                                
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div id="chart_1" class="chart" style="height: 400px;"> </div>
                                        </div>
                                    </div>
                        </div>    
                    
                        <div class="col-md-3">
                            <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-bar-chart font-green-haze"></i>
                                                <span class="caption-subject bold uppercase font-green-haze"> Profit</span>
                                                <span class="caption-helper">Profit</span>
                                            </div>
                                            <div class="tools">
                                                <a href="javascript:;" class="collapse"> </a>
                                                <a href="javascript:;" class="fullscreen"> </a>
                                                
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div id="chart_3" class="chart" style="height: 400px;"> </div>
                                        </div>
                                    </div>
                                </div>
                           
                         <div class="col-md-3">
                            <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-bar-chart font-green-haze"></i>
                                                <span class="caption-subject bold uppercase font-green-haze"> Profit</span>
                                                <span class="caption-helper">Profit</span>
                                            </div>
                                            <div class="tools">
                                                <a href="javascript:;" class="collapse"> </a>
                                                <a href="javascript:;" class="fullscreen"> </a>
                                                
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div id="chart_4" class="chart" style="height: 400px;"> </div>
                                        </div>
                                    </div>
                        </div>
                        <div class="col-md-3">
                             <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-bar-chart font-green-haze"></i>
                                                <span class="caption-subject bold uppercase font-green-haze"> Profit</span>
                                                <span class="caption-helper">Profit</span>
                                            </div>
                                            <div class="tools">
                                                <a href="javascript:;" class="collapse"> </a>
                                                <a href="javascript:;" class="fullscreen"> </a>
                                                
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div id="chart_6" class="chart" style="height: 400px;"> </div>
                                        </div>
                                    </div>
                        </div>
                    </div>
                    <!--div class="col-md-12">
                            <div class="portlet light portlet-fit bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class=" icon-layers font-green"></i>
                                        <span class="caption-subject font-green bold uppercase">Bar Chart</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-cloud-upload"></i>
                                        </a>
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-wrench"></i>
                                        </a>
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="highchart_4" style="height:500px;"></div>
                                </div>
                            </div>
                        </div-->
                    <!-- END : HIGHCHARTS -->
