<!-- BEGIN : HIGHCHARTS -->
                    
                        <div class="row">
                            <button type="button" class="collap dt-button buttons-html5 btn green btn-outline " data-toggle="collapse" data-target="#collapseme">
                                                Show Graphs
                        </button>
                        </div>
                    
                        <div class="row collapse out" id="collapseme">
                        <div class="col-md-3">
                            <div class="portlet light portlet-fit bordered">
                             
                                    <div class="caption">
                                         <span class="caption-subject font-dark bold uppercase">Alternative Investments</span>
                                    </div>
                                    
                                </div>
                                <div class="portlet-body">
                                    <div id="highchart_1" style="height:250px;"></div>
                               
                                </div>
                        
                        </div>
                    
                        <div class="col-md-3">
                            <div class="portlet light portlet-fit bordered">
                                <div class="caption">
                                        <span class="caption-subject font-dark bold uppercase">Commodities Trading</span>
                                     </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="highchart_2" style="height:250px;"></div>
                                </div>
                            </div>
                         <div class="col-md-3">
                            <div class="portlet light portlet-fit bordered">
                                    <div class="caption">
                                       
                                        <span class="caption-subject font-dark bold uppercase">Construction</span>
                                    </div>
                             <div class="portlet-body">
                                    <div id="highchart_3" style="height:250px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portlet light portlet-fit bordered">
                                    <div class="caption">
                                         <span class="caption-subject font-dark bold uppercase">Rental</span>
                                    </div>
                                <div class="portlet-body">
                                    <div id="highchart_5" style="height:250px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--div class="col-md-12">
                            <div class="portlet light portlet-fit bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class=" icon-layers font-green"></i>
                                        <span class="caption-subject font-green bold uppercase">Bar Chart</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-cloud-upload"></i>
                                        </a>
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-wrench"></i>
                                        </a>
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="highchart_4" style="height:500px;"></div>
                                </div>
                            </div>
                        </div-->
                    <!-- END : HIGHCHARTS -->
