{%extends '::base.html.twig'%}

{% block stylesheets_extra %} 
<style>

input {
    border: none;
    width: 80px;
    font-size: 14px;
    padding: 2px;
}

#table1 tr:first-child td {
    background-color: #DDD;
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

</style>
{% endblock %}


{% block body %}
    <div id="table1" class="table-responsive">
        <table class="table table-striped table-bordered table-hover"></table>
    </div>

    <div class="row col-md-4">
        <table id="table2" class="table table-advance table-striped table-bordered table-hover"></table>
    </div>

{%endblock%}

{% block javascripts_extra %} 
    <script>
        var fctracks='{{ fctracks}}'; // viene del controlador
        var fcnotracks='{{ fcnotracks}}'; // viene del controlador

        jsonStr = fctracks.replace(/&quot;/g, '"'); //arreglar comillas dobles
        jsonStr2 = fcnotracks.replace(/&quot;/g, '"'); //arreglar comillas dobles
        var obj = JSON.parse(jsonStr); //convertir a jsonArray
        var obj2 = JSON.parse(jsonStr2); //convertir a jsonArray

        var months =['Jan','Feb','Mar','Apr','May', 'Jun', 'Jul', 'Ago','Sep', 'Oct', 'Nov','Dic', 'Total'];

        var row = document.querySelector("table").insertRow(-1);
        for (var j = 0; j <= 13; j++) { //cols
            var letter = String.fromCharCode("A".charCodeAt(0) + j - 1);
             if (j==0)row.insertCell(-1).outerHTML = '&nbsp; ';
             row.insertCell(-1).innerHTML =  letter;
        }

        var row = document.querySelector("table").insertRow(-1);
        for (var j = 0; j <= 13; j++) { //cols
            if(j==0) row.insertCell(-1).outerHTML = '&nbsp; ';
            row.insertCell(j).innerHTML =  j>0 ? months[j - 1] :"1" ;
        }

        for (var i = 0; i <= obj.length+1; i++) { //rows
            var row = document.querySelector("table").insertRow(-1);
            if(i>1) row.insertCell(-1).outerHTML = '<strong>'+obj[i-2].description+'&nbsp;&nbsp;&nbsp;&nbsp; </strong>';

            for (var j = 0; j <= 13; j++) { //cols
                var letter = String.fromCharCode("A".charCodeAt(0) + j - 1);
                if (i>1) row.insertCell(-1).innerHTML = i && j? "<input id='" + letter + i + "'/>" : i || letter;


            }
        }
/*segunda tabla*/

//        /var row = document.querySelector("#table2").insertRow(-1);

        for (var i = 0; i < obj2.length; i++) { //rows
            var row = document.querySelector("#table2").insertRow(-1);
            row.insertCell(-1).innerHTML = '<strong>'+obj2[i].description+'&nbsp;&nbsp;&nbsp;&nbsp; </strong>';

            row.insertCell(-1).innerHTML = "<textarea id='table2" + obj2[i] + "'/>" ;
        }
        var ele=document.querySelector("#table2 td").style.width="20%";




        var DATA = {}, INPUTS = [].slice.call(document.querySelectorAll("input"));
        INPUTS.forEach(function (elm) {
            elm.onfocus = function (e) {
                e.target.value = localStorage[e.target.id] || "";
            };
            elm.onblur = function (e) {
                localStorage[e.target.id] = e.target.value;
                computeAll();
            };
            var getter = function () {
                var value = localStorage[elm.id] || "";
                if (value.charAt(0) == "=") {
                    with (DATA)
                        return eval(value.substring(1));
                } else {
                    return isNaN(parseFloat(value)) ? value : parseFloat(value);
                }
            };
            Object.defineProperty(DATA, elm.id, {get: getter});
            Object.defineProperty(DATA, elm.id.toLowerCase(), {get: getter});
        });
        (window.computeAll = function () {
            INPUTS.forEach(function (elm) {
                try {
                    elm.value = DATA[elm.id];
                } catch (e) {
                }
            });
        })();




    </script>
{% endblock %}

