Registrar Grupo
{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('avn_siretrabundle_group') }}" {{ form_enctype(form) }} method="POST" class="fos_user_group_new">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'group.new.submit'|trans }}" />
    </div>
</form>
