<h3>Add new Client </h3>
{% block body %}
 
    {{ form_start(form) }}
        {{ form_widget(form) }}
         <br>
                    <button type="button" class="btn default"  id="client_clear">Clear</button>

                    <button type="submit" id="btn_addclient" class="btn blue">Submit</button>
    {{ form_end(form) }}


{% endblock %}
{% block javascripts_extra %}
     <script>
         $( document ).ready(function() {
             
             $('#btn_addclient').click(function(e) {
                 e.preventDefault();
                  
                 $.post( "{{ path('ajax_client_create') }}", $('form[name="bl_sgibundle_usuario"]').serialize() )
                         .done(function( resp) {
                             $('input[placeholder="Find Client"]').val($("#bl_sgibundle_usuario_nombre").val()+ ' '+ $("#bl_sgibundle_usuario_apellido").val());
                             $('input[placeholder="Find Client"]').next('[type=hidden]').val(resp);
                             $('div#add').empty();
                    });
             });

             $('#client_clear').click(function() {
                 $('form#bl_sgibundle_usuario').trigger("reset");
                 $('span').removeClass("checked");
             });
             

             


         });
     </script>
 {% endblock %}